.title{
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
}

.nav-links{
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center
}

.nav-links li{
  margin-left: 1rem;
  margin-right: 1rem
}

.genre-btn{
  padding: 1rem;
  border: none;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(55, 110, 128) 0%,  rgba(0,212,255,1) 100%);
  border-radius: 0.5rem
}

.genre-btn:hover{
  background: linear-gradient(90deg, rgb(147, 173, 181) 0%,  rgb(144, 179, 186) 100%);
}

.genre-btn-container{
  display:flex;
  justify-content: center;
}

.genre{
  text-align:center;
}

.album-cover{
  width: 200px;
}

.album-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.card{
  margin-top: 1rem;
  border:rgb(55, 110, 128) solid;
  padding: 1rem;
  border-radius: 0.5rem
}

