.title{
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

.nav-links{
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center
}

.nav-links li{
  margin-left: 1rem;
  margin-right: 1rem
}

.genre-btn{
  padding: 1rem;
  border: none;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(122, 55, 128) 0%,  rgb(148, 23, 173) 100%);
  color: white;
  border-radius: 0.5rem
}

.genre-btn-record{
  padding: 1rem;
  border: none;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 1rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(122, 55, 128) 0%,  rgb(148, 23, 173) 100%);
  color: white;
  border-radius: 0.5rem
}

.record-position{
  position: absolute;
    bottom: 0;
  margin-bottom: 30px;
}

.genre-btn:hover{
  background: linear-gradient(90deg, rgb(147, 173, 181) 0%,  rgb(144, 179, 186) 100%);
}

.genre-btn-container{
  display:flex;
  justify-content: center;
}

.genre, .records{
  text-align:center;
}

.records{
  margin-top: 50px;
}

.album-cover{
  width: 200px;
}

.album-cover-history{
  width: 200px;
}

.album-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.card{
  margin-top: 0.5rem;
  border:rgb(122, 55, 128) solid;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 400px;
  position: relative;
}

.card-record{
  margin-top: 1rem;
  border:rgb(122, 55, 128) solid;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction:column;
  margin-right:40%;
  margin-left:40%;
}

.access-signup, .access-login{
  font-size: 20px;
  font-family: Arial;
  border: solid black;
  padding:10px;
  background-color: white;
  border-radius: 0.5rem;
  font-weight:300;
}

header{
  background-color:rgb(122, 55, 128);
  padding: 1%;
  color: white
}

.information{
  padding: 8px;
}

.signup-container, .login-container{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-right:40%;
  margin-left: 40%;
  border: solid black;
  background-color: rgb(220, 199, 229)
}

.signup-title, .login-title{
  text-align: center
}

.email, .password, .username, .submit-btn {
  padding: 5px;
}

.submit{
  padding: 1rem;
  border: none;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(122, 55, 128) 0%,  rgb(148, 23, 173) 100%);
  border-radius: 0.5rem;
  color: white;
}

.submit:hover{
  background:  linear-gradient(90deg, rgb(115, 81, 118) 0%,  rgb(108, 73, 115) 100%);
}

.email-input, .password-input, .username-input{
  padding: 5px;
  border:rgb(149, 27, 129) solid;
  border-radius: 0.5rem
}

.title-color{
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: black;
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.overlap{
  width: 200px;
  word-wrap: break-word;
}

@media screen and (max-width: 1110px){
  .album-cover-history{
    width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }

  .card-record{
    margin-top: 1rem;
    border:rgb(122, 55, 128) solid;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin: 100%
  }

  .album-cover-history{
    width: 125px;
  }
}